<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Custom page Example</title>
</head>
<body>
<h1>My site</h1>
<h2>Pages Example</h2>

<ul>
    <li>visit <a href="/500">500</a></li>
    <li>visit <a href="/404">404</a></li>
    <li>visit <a href="/403">403</a></li>
</ul>
</body>
</html>