$header-height: 50px;

header {
  position: fixed;
  background-color: black;
  height: $header-height;
  width: 100%;
  z-index: 1000;

  nav {
    height: 100%;


    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      list-style: none;
      gap: 5px;

      li {
        height: 100%;
        color: white;
        border: 1px white solid;
        transition: all 0.2s;

        a {
          text-decoration: none;
        }

        &:hover { // 가상 선택자 요소 선택
          background-color: white;
        }
      }
    }
  }

}

.menu {
  .link {
    text-decoration: none;
  }

  .odd {
    color: white;;
  }

  .even {
    color: red;
  }


}

footer {
  background-color: blue;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  z-index: 1000;
  //
  display: flex;
  justify-content: center;
  align-content: center;

  .logo {
    flex: 1 1 0; // 비율을 지정할 때에 자주 사용
    border: black 0.5px dashed;
    height: 100%;
    width: 100%;

  }

  .contact-info {
    flex: 3 1 0;

    border: black 0.5px dashed;
  }
}

.card-box {
  max-width: 800px;
  padding: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  border: 1px solid lightgray;
  margin: 0 auto;

  .card-container {
    width: 100px;
    height: 150px;


    .card {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 1px red dashed;
      transition: transform 0.8s;
      position: relative;
      z-index: 0;
    }

    .card:hover {
      transform: scale(1.5) rotate(360deg);
      z-index: 10;
    }
  }
}

$path: './../Cards/';
$card: 'cardSpades';
@for $i from 1 through 13 {
  $label: $i;
  @if $i == 1 {
    $label: 'A';
  } @else if $i == 11 {
    $label: 'J';
  } @else if $i == 12 {
    $label: 'Q';
  } @else if $i == 13 {
    $label: 'K';
  }
  .card-box .card-container:nth-child(#{$i}) .card {
    background-image: url('#{$path}#{$card}#{$label}.png');
  }

}
