// 변수 선언

@import './vr.scss';

.card_container {
  @for $i from 0 through 5 {
    .card:nth-child(#{$i}) {
      @if $i % 2 == 0 {
        background-color: $card-background-color;
      } @else {
        background-color: red;
    }

      width: 100px * $i ;
      height: 100px;

      border: 2px solid black;
    }
  }
  //border: red dashed 2px;

  //// 속성에 대한 네스팅 기능
  //border: { // 재활용 가능
  //  color: red;
  //  style: dashed;
  //  width: 2px;
  //}
}
